
<div class="softselect" ng-class="{'disabled': ssDisabled}">

    <div class="softdown" ng-click="open($event)" ng-keypress="$event.stopPropagation()">

        <div tabindex="{{ssTabindex}}"  class="selected-box" placeholder="" aria-describedby="basic-addon2" >

                <div class="full-h" ng-hide="ssMany">

                    <div class="form-group has-feedback">

                        <input class="form-control" style="padding-left: 7px !important;" ng-model="ssFilter" placeholder="{{ssText ? ssText : 'Selecionar...'}}">

                        <span class="fa fa-caret-down form-control-feedback" ng-hide="ssModel[ssField.value] || ssData === 0" aria-hidden="true"></span>

                    </div>

                </div>

                <div class="full-h" ng-show="ssMany">

                    <div class="form-group has-feedback">

                        <div class="form-control">

                        <ul style="margin-left: {{ssModel.length > 0 ? '2px' : '7px'}}">

                            <li ng-show="ssModel.length > 2" class="selected-item" style="max-width: 100px;" ng-click="ss_clearAll($event)">

                               <span class="fa fa-times"></span> {{ssModel.length === orderedData.length ? "Todos" : ssModel.length}} selecionados

                            </li>

                            <li ng-show="ssModel.length > 0 && ssModel.length <= 2" class="selected-item" ng-repeat="item in ssModel | limitTo: 2 track by $index" ng-click="ss_select(item[ssField.value])">

                                <span class="fa fa-times"></span> {{item[ssField.text]}}

                            </li>

                            <li class="selected-input" style="margin-left: 2px;">

                                <input class="filter" ng-model="ssFilter" placeholder="{{ssModel.length > 0 ? '' : (ssText ? ssText : 'Selecionar...')}}">

                            </li>&nbsp;

                        </ul>

                    </div>

                    </div>

                </div>

        </div>

        <div class="softselect-loading" ng-show="ssLoading">

            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>

        </div>

        <span class="fa fa-times selected-clear" style="cursor:pointer" ng-show="ssModel[ssField.value] && !ssLoading" ng-click="ss_clearAll($event)" title="Limpar"></span>

        <span ng-show="ssMany && !ssLoading" class="fa fa-reply-all selected-clear all" style="cursor:pointer" ng-click="ss_selectAll($event)" title="Selecionar Todos"></span>

        <div ng-show="isOpen" class="softdown-menu scroll-4" ng-style="{top: dropTopFixed + 'px', left: dropLeftFixed + 'px', minWidth: dropWidthFixed + 'px'}">


                <ul class="softdown-list" ng-click="$event.stopPropagation()">


                </ul>

            </div>

    </div>

</div>
