
<div class="softselect" ng-class="{'disabled': ssDisabled}">

    <div class="dropdown">

            <div tabindex="{{ssTabindex}}"  class="selected-box" placeholder="" aria-describedby="basic-addon2" data-toggle="dropdown" >

                <div class="full-h" ng-hide="ssMany">

                    <div class="form-group has-feedback">

                        <input class="form-control" style="padding-left: 7px !important;" ng-click="setFocus($event)" ng-blur="lostFocus()" ng-model="ssModel[ssField.text]" placeholder="{{ssField.placeholder ? ssField.placeholder : 'Selecionar...'}}">

                        <span class="fa fa-caret-down form-control-feedback" ng-hide="ssModel[ssField.value]" aria-hidden="true"></span>

                    </div>

                </div>

                <div class="full-h" ng-show="ssMany">

                    <div class="form-group has-feedback">

                        <div class="form-control">

                        <ul style="margin-left: {{ssModel.length > 0 ? '2px' : '7px'}}">

                            <li ng-show="ssModel.length > 2" class="selected-item" style="max-width: 100px;">

                                <span ng-click="ss_clearAll()"><span class="fa fa-times"></span></span> {{ssModel.length === ssData.length ? "Todos" : ssModel.length}} selecionados

                            </li>
                            <!--  ng-show="(!displayPlaceHolder && ssModel.length > 0 && ssModel.length <= 2)" -->

                            <li  ng-show="ssModel.length > 0 && ssModel.length <= 2" class="selected-item" ng-repeat="item in ssModel track by $index">

                                <span class="fa fa-times" ng-click="ss_select(item)"></span> {{item[ssField.text]}}

                            </li>

                            <li class="selected-input" style="max-width: {{ssModel.length > 0 ? '10px' : '100%'}}">

                                <input class="filter" ng-model="ssFilter" ng-blur="ssFilter = ''" placeholder="{{ssModel.length > 0 ? '' : 'Selecionar...'}}">

                            </li>&nbsp;

                        </ul>

                    </div>

                        <span class="fa fa-caret-down form-control-feedback" aria-hidden="true"></span>

                    </div>

                </div>

            </div>

            <span class="fa fa-times selected-clear" style="cursor:pointer" ng-show="ssModel[ssField.value]" ng-click="ss_clearAll()"></span>


        <div class="dropdown-menu dropdown-menu-left scroll-4">

                <ul>

                    <li class="item" ng-repeat="item in getFilteredData()" ng-click="ss_select(item)">

                        <i class="fa fa-check" ng-show="item.selected" style="color: #2ecc71" ></i> {{item[ssField.text]}}

                    </li>

                </ul>

            </div>

    </div>

</div>
